@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');
.box{
    position: relative;
    width: 500px;
    height: 550px;
    box-shadow: 0 0 ;
    background-color: white;
    border-radius: 10px;
    background-color: #090515f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: 3px solid #ff6cff;
}
.box h1{
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    color:#c0aef4;
}
.box form{
    width: 80%;
    height: 20%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 15px;
}
.checkbox label{
    font-size: 13px;
    color:#5959e8;
    width: 200px;
}
.checkbox span{
    width: 100%;
    position: absolute;
    color: red;
    font-size: 10px;
    bottom: -13px;
    left: 8px;
}
input[type="checkbox"]{
    border-radius: 5px;
    background-color: black;
    border: 20px solid #c0aef4;
}
.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: 30px 0;
}
.inputs{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}
.inputs label{
    font-size: 13px;
    color: #f7a2f7cf;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}
.inputs span{
    width: 100%;
    position: absolute;
    color: red;
    font-size: 10px;
    bottom: -6px;
    left: 105px;
}
.inputs input{
    width: 200px;
    height: 33px;
    border-radius: 10px;
    padding-left: 10px ;
    font-size: 12px;
    background-color: #060310f9;
    color: white;
}
.erore{
    border: 2px solid #ff000077;
    outline: none;

}
.success{
    border: 2px solid #ff6cff;
    outline: none;

}
.btn{
    position: absolute;
    bottom: 35px;
    right: 35px;
    border: 2px solid rgba(0, 0, 0, 0);
    color: #ff6cff;
    width: 80px;
    height: 35px;
    background-color: #090615f9;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.1;
    box-shadow: 0 0 5px 2px #c0aef4;
}
.btn:is(:hover){
    border: 2px solid #ff6cff;   
    box-shadow: 0 0 0px 0px #c0aef4;
    scale: 1;
}
.logBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    bottom: 35px;
    left: 35px;
    width: 80px;
    height: 35px;
    color: #5959e8;
    text-decoration: none;
}